@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body
{
    overflow: scroll;
    background-color: #111;
    font-family: 'Nanum Gothic', sans-serif;
}

.hong-btn
{
    border: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

.hong-advertisement
{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    position: relative;
}

.hong-adbox
{
    width: 1100px;
    height: 80px;
    position: relative;
}

.hong-ad
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.hong-ad-none
{
    display: none;
}

.hong-btn-delete
{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
}
.hong-header
{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative;
}

.hong-content-all
{
    width: 1100px;
    margin: auto;
}

.hong-content-area
{
    display: flex;
    justify-content: space-between;
}

.hong-content-left,.hong-content-right
{
    display: flex;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
}

.hong-content-left li a,.hong-content-right li a
{
    font-size: 13px;
    color: #888;
    text-decoration: none;
    margin-left: 15px;
}

.hong-content-left li:first-child a,.hong-content-right li:first-child a
{
    margin-left: 0;
}

.hong-content-main
{
    width: 100%;
    display: flex;
}

.hong-content-main-menu
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.hong-content-main-menu li
{
    list-style: none;
}

.hong-content-main-menu li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.hong-btn-hs:first-child
{
    margin-right: 7px;
}

.hong-btn-cm:last-child
{
    margin-left: 7px;
}

.hong-logo
{
    position:relative;
    width: 10%;
    height: 100%;
}

.hong-logo a
{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

.hong-sitemap
{
    width: 100%;
    position: absolute;
    background-color: #333;
}

.hong-sitemap-box
{
    width: 1100px;
    margin: auto;
}

.hong-sitemap-name
{
    margin: 0;
    padding-top: 40px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
}

.hong-sitemap-menu
{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.hong-sitemap-menu-list
{
    width: 160px;
}

.hong-sitemap-menu-list ul
{
    list-style: none;
    text-align: center;
    padding: 0;
}

.hong-sitemap-menu-list ul li p
{
    width: 100%;
    font-size: 18px;
    color: #fff;
    border-top: 1px solid rgba(68,68,68,.5);
    border-bottom: 1px solid rgba(68,68,68,.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hong-sitemap-menu-list ul li
{
    color: #bbb;
    font-size: 13px;
    margin-top: 10px;
}