@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body
{
    height: 2000px;
    background-color: #111;
    font-family: 'Nanum Gothic', sans-serif;
}

/* hong-advertisement */

.hong-btn
{
    border: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

.hong-advertisement
{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #e8e8e8;
    position: relative;
}

.hong-adbox
{
    width: 1100px;
    height: 80px;
    position: relative;
}

.hong-ad
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.hong-ad-none
{
    display: none;
}

.hong-btn-delete
{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
}

/* hong-advertisement */

/* hong-header */

.hong-header
{
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative;
}

.hong-content-all
{
    width: 1100px;
    margin: auto;
}

.hong-content-area
{
    display: flex;
    justify-content: space-between;
}

.hong-content-left,.hong-content-right
{
    display: flex;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
}

.hong-content-area ul li a
{
    font-size: 13px;
    color: #888;
    text-decoration: none;
    margin-left: 15px;
}

.hong-content-left li:first-child a,.hong-content-right li:first-child a
{
    margin-left: 0;
}

.hong-content-area ul li a:hover
{
    text-decoration: underline;
}

.hong-content-main
{
    width: 100%;
    display: flex;
}

.hong-content-main-menu
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.hong-content-main-menu li
{
    list-style: none;
}

.hong-btn-hs
{
    position: relative;
}

.hong-btn-close
{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    z-index: 2;
    display: none;
}

.hong-content-main-menu li a
{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.hong-btn-hs:first-child
{
    margin-right: 20px;
}

.hong-btn-cm:last-child
{
    margin-left: 20px;
}

.hong-logo
{
    position:relative;
    width: 10%;
    height: 100%;
}

.hong-logo a
{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
/* hong-header */

/* hong-sitemap */
.hong-sitemap
{
    width: 100%;
    position: absolute;
    background-color: #333;
    display: none;
}

.hong-sitemap-box
{
    width: 1100px;
    margin: auto;
}

.hong-sitemap-name
{
    margin: 0;
    padding-top: 40px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
}

.hong-sitemap-menu
{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hong-sitemap-menu-list
{
    width: 160px;
}

.hong-sitemap-menu-list ul
{
    list-style: none;
    text-align: center;
    padding: 0;
}

.hong-sitemap-list-top
{
    height: 250px;
}

.hong-sitemap-list-bottom
{
    height: 370px;
}

.hong-sitemap-menu-list ul li
{
    margin-top: 14px;
}

.hong-sitemap-menu-list ul li p
{
    width: 100%;
    font-size: 18px;
    color: #fff;
    border-top: 1px solid rgba(68,68,68,.5);
    border-bottom: 1px solid rgba(68,68,68,.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hong-sitemap-menu-list ul li a
{
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
}

.hong-sitemap-menu-list ul li a:hover
{
    color: #1dabda;
    text-decoration: underline;
}
/* hong-sitemap */

/* hong-search */
.hong-search-map
{
    width: 100%;
    height: 380px;
    position: absolute;
    background: #351f67;
}

.hong-search-map-box
{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left */
.hong-search-map-left
{
    display: flex;
    flex-direction: column;
}

.hong-search-map-left-top
{
    display: flex;
    margin-bottom: 40px;
}

.hong-rank
{
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-right: 25px;
}

.hong-search-map-img
{
    width: 150px;
    height: 214px;
}

.hong-search-map-img img
{
    width: 100%;
    height: 100%;
}
/* left */

/* right */
#hong-search-movie
{
    width: 360px;
    height: 60px;
    background: 0;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

#hong-search-movie::placeholder
{
    color: #fff;
}

.hong-search-btn
{
    width: 60px;
    height: 60px;
}

.hong-search-movie-bottom
{
    width: 100%;
    height: 1px;
    background: #fff;
}
/* right */

/* hong-search */