@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
body
{
    height: 2000px;
    background-color: #1dabda;
    font-family: 'Nanum Gothic', sans-serif;
}

/* hong-advertisement */

.hong-btn
{
    border: 0;
    padding: 0;
    cursor: pointer;
    background: none;
}

.hong-advertisement
{
    display: flex;
    width: 100%;
    min-width: 1100px;
    justify-content: center;
    background-color: #e8e8e8;
    position: relative;
}

.hong-adbox
{
    width: 1100px;
    height: 80px;
    position: relative;
}

.hong-ad
{
    position: absolute;
    right: 0;
    bottom: 0;
}

.hong-ad-none
{
    display: none;
}

.hong-btn-delete
{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
    bottom: 0;
}

/* hong-advertisement */

/* hong-header */

.hong-header
{
    width: 100%;
    min-width: 1100px;
    height: 83px;
    background: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid rgba(255,255,255,.2);
    position: relative;
}

.hong-header-bg
{
    position: absolute;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.hong-header-bg::before
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    background: -moz-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -webkit-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -o-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: -ms-linear-gradient(left, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
    background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
}

.hong-bg-pattern
{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    min-width: 1100px;
    height: 100%;
    background: url(../images/hong-bg-dot.png) repeat 0 0;
}

.hong-header-bg img
{
    display: block;
    width: 100%;
    min-width: 1100px;
    -webkit-filter: blur(20px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(15px);
}

.hong-header-bg::after
{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(3,1,21,0.7);
}

.hong-content-all
{
    width: 1100px;
    margin: auto;
    z-index: 5;
}

.hong-content-area
{
    display: flex;
    justify-content: space-between;
    z-index: 5;
}

.hong-content-left,.hong-content-right
{
    display: flex;
    list-style: none;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-left: 0;
    padding: 0;
    z-index: 5;
}

.hong-content-area ul li a
{
    font-size: 13px;
    color: #888;
    text-decoration: none;
    margin-left: 15px;
    z-index: 5;
}

.hong-content-left li:first-child a,.hong-content-right li:first-child a
{
    margin-left: 0;
    z-index: 5;
}

.hong-content-area ul li a:hover
{
    text-decoration: underline;
    z-index: 5;
}

.hong-content-main
{
    width: 100%;
    min-width: 1100px;
    display: flex;
    z-index: 5;
}

.hong-content-main-menu
{
    width: 100%;
    min-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 10px;
    padding-left: 5px;
    z-index: 5;
}

.hong-content-main-menu li
{
    list-style: none;
    z-index: 5;
}

.hong-btn-hs
{
    position: relative;
}

.hong-btn-close
{
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    display: none;
}

.hong-content-main-menu li>a
{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.hong-btn-hs:first-child
{
    margin-right: 20px;
    z-index: 5;
}

.hong-btn-cm:last-child
{
    margin-left: 20px;
    z-index: 5;
}

.hong-logo
{
    position:relative;
    width: 10%;
    height: 100%;
    z-index: 5;
}

.hong-logo a
{
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.hong-nav-list
{
    position: relative;
    padding-bottom: 14px;
}

.hong-nav-after::after
{
    content: "";
    position: absolute;
    bottom: 1px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    display: block;
}

.hong-navbar-list
{
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    min-width: 1100px;
    height: 40px;
    top: 83px;
    left: 0;
    display: none;
}

.hong-navbar-box
{
    position: relative;
    width: 1100px;
    height: 100%;
    margin: auto;
}

.hong-navbar-list-box
{
    position: absolute;
    display: flex;
    align-items: center;
    margin: auto;
}

.hong-movie-navbar{left: 30px;}

.hong-ticket-navbar{left: 150px;}

.hong-theater-navbar{left: 310px;}

.hong-event-navbar{right: 270px;}

.hong-present-navbar{right: 80px;}

.hong-navbar-list-box>a
{
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    margin: 13px;
}

.hong-navbar-box a:hover
{
    text-decoration: underline;
}
/* hong-header */

/* hong-login */
/* .hong-login
{
    position: fixed;
    width: 850px;
    height: 484px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 99;
}

.hong-login-header
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: #351f67;
}

.hong-login-text
{
    color: #fff;
    font-size: 16px;
}

.hong-login-body
{
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.hong-login-form
{
    width: 44%;
}

.hong-login-input
{
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    color: #444;
    border: 1px solid #d8d9db;
    border-radius: 0;
}

.hong-login-input:hover
{
    outline: 1px solid #333;
}

.hong-login-input:focus
{
    outline: 1px solid #333;
}

.hong-login-checkbox
{
    display: flex;
}

.hong-login-checkbox input
{
    zoom: 1.2;
    margin: 0;
    padding: 0;
}

.hong-login-checkbox span
{
    font-size: 14px;
    margin: 1px;
}

.hong-login-button
{
    width: 100%;
    height: 45px;
    border: 0;
    border-radius: 4px;
}

.hong-login-image
{
    width: 44%;
}

.hong-login-image a img
{
    width: 100%;
} */
/* hong-login */

/* hong-sitemap */
.hong-sitemap
{
    width: 100%;
    min-width: 1100px;
    position: absolute;
    background-color: #333;
    display: none;
    z-index: 55;
}

.hong-sitemap-box
{
    width: 1100px;
    margin: auto;
}

.hong-sitemap-name
{
    margin: 0;
    padding-top: 40px;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 20px;
}

.hong-sitemap-menu
{
    width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hong-sitemap-menu-list
{
    width: 160px;
}

.hong-sitemap-menu-list ul
{
    list-style: none;
    text-align: center;
    padding: 0;
}

.hong-sitemap-list-top
{
    height: 250px;
}

.hong-sitemap-list-bottom
{
    height: 370px;
}

.hong-sitemap-menu-list ul li
{
    margin-top: 14px;
}

.hong-sitemap-menu-list ul li p
{
    width: 100%;
    font-size: 18px;
    color: #fff;
    border-top: 1px solid rgba(68,68,68,.5);
    border-bottom: 1px solid rgba(68,68,68,.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.hong-sitemap-menu-list ul li a
{
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
}

.hong-sitemap-menu-list ul li a:hover
{
    color: #1dabda;
    text-decoration: underline;
}
/* hong-sitemap */

/* hong-search */
.hong-search-map
{
    width: 100%;
    min-width: 1100px;
    height: 380px;
    position: absolute;
    background: #351f67;
    display: none;
    z-index: 55;
}

.hong-search-map-box
{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* left */
.hong-search-map-left
{
    display: flex;
    flex-direction: column;
}

.hong-search-map-left-top,.hong-search-map-left-bottom
{
    display: flex;
    margin-bottom: 40px;
}

.hong-rank
{
    margin-right: 25px;
    position: relative;
}

.hong-btn-rank
{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    position: relative;
}

.hong-btn-underline::after
{
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: 0;
    background-color: #fff;
}

.hong-client-rank-underline
{
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -8px;
    background-color: #fff;
    display: none;
}

.hong-search-map-img
{
    width: 150px;
    height: 214px;
}

.hong-search-map-img img
{
    width: 100%;
    height: 100%;
}

.hong-search-map-list
{
    list-style: none;
    height: 214px;
    margin: 0;
}

.hong-search-map-list li
{
    margin-bottom: 13px;
}

.hong-search-map-list li span
{
    color: #fff;
    font-style: italic;
    font-size: 25px;
    font-weight: 300;
    margin-right: 15px;
}

.hong-search-map-list li a
{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.hong-search-map-list li a:hover
{
    text-decoration: underline;
}

.hong-search-map-left-bottom-ticket
{
    display: block;
}

.hong-search-map-left-bottom-client
{
    display: none;
}
/* left */

/* right */
.hong-search-right
{
    margin-right: 130px;
}

#hong-search-movie
{
    width: 360px;
    height: 60px;
    background: 0;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
}

#hong-search-movie::placeholder
{
    color: #fff;
}

.hong-search-btn
{
    width: 60px;
    height: 60px;
}

.hong-search-movie-bottom
{
    width: 100%;
    height: 1px;
    background: #fff;
}
/* right */

/* hong-search */