@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css);
*{box-sizing: border-box;}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container{
    width:1200px;
    margin:0 auto;
}
body{
    margin:0;
    padding:0;
}
/****************header*********************/
.page-util {
    display: block;
    position: static;
    width: 100%;
    height: 42px;
    background-color: #f8f8fa;
}
.location-fixed .tit3+table {
  margin-top: 0;
}

.pointUse table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
  margin-top: 10px;
}
table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
}
* {
  box-sizing: border-box;
}
user agent stylesheet
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
body {
  overflow: auto;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}
.inner-wrap {
    width: 1100px;
    margin: 0 auto;
}
.page-util .location {
    float: left;
    height: 42px;
}
.page-util .location a {
    display: block;
    position: relative;
    float: left;
    height: 42px;
    margin: 0 0 0 25px;
    padding: 0;
    line-height: 46px;
    color: #666;
    text-decoration: none;
}
.page-util .location span {
    overflow: hidden;
    display: block;
    float: left;
    width: 13px;
    height: 100%;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url(https://img.megabox.co.kr/static/pc/images/common/bg/bg-location-home.png) no-repeat center;
}
.page-util .sns-share {
    position: relative;
    float: right;
    padding: 13px 0 0 0;
}
.page-util .sns-share .btn {
    display: block;
    height: 22px;
    margin: 0;
    padding: 0;
    border: 0;
    color: #666;
    background-color: transparent;
    text-decoration: none;
}
.page-util .sns-share .btn .iconset {
    width: 15px;
    height: 18px;
    margin-left: 5px;
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-share-black.png);
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
/***************** content************************ */
.pointUse table thead th {
  height: 48px;
  border: 1px solid #d9d9d9;
  border-width: 0 0 1px 1px;
  border-top: 1px solid #666;
  background-color: #fcfcfc;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  color: #000;
}
.pointUse table tbody td {
  height: 62px;
  border: 1px solid #d9d9d9;
  border-width: 0 0 1px 1px;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  text-align: center;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.tab-list>ul {
  position: relative;
  width: 100%;
  height: 42px;
}
ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.tab-list>ul>li:first-child:nth-last-child(2), .tab-list>ul>li:first-child:nth-last-child(2)~li {
  width: 50%;
}
.tab-list>ul>li.on {
  border: 1px solid #503396;
  border-bottom: 0;
}
.tab-list>ul>li {
  float: left;
  height: 42px;
  margin: 0;
  border: 1px solid #ebebeb;
  border-width: 1px 0 1px 1px;
}
* {
  box-sizing: border-box;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.tab-list>ul>li.on>a:active, .tab-list>ul>li.on>a:focus, .tab-list>ul>li.on>a:hover, .tab-list>ul>li.on>a:visited {
  color: #503396;
  text-decoration: none;
}
.tab-list>ul>li.on>a {
  z-index: 3;
  color: #503396;
  background-color: #fff;
}
.tab-list>ul>li{
  border-bottom: 1px solid #503396;
}
.tab-list>ul>li>a {
  position: relative;
  display: block;
  width: 100%;
  height: 41px;
  line-height: 40px;
  padding: 0;
  text-align: center;
  color: #222;
  font-size: 1.0667em;
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}


a:visited {
  color: #666;
  text-decoration: none;
  outline: 1px dotted #000;
}
.membershipCard {
  padding: 70px 0 20px;
}
.membershipCard .tt {
  text-align: center;
  margin-bottom: 18px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 70px;
  line-height: 63px;
  color: #503396;
}
.membershipCard .tt span {
  display: block;
  font-weight: 700;
}
.membershipCard .tx {
  padding-bottom: 16px;
  font-size: 18px;
  line-height: 21px;
  color: #503396;
  text-align: center;
  font-weight: 400;
}
.membershipCard img {
    display: block;
    width: 324px;
    margin: auto;
}
.location-fixed .tit3 {
  padding-bottom: 20px;
}
.tit3 {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  color: #503396;
  line-height: 23px;
}
.membershipBenefit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-wrap: wrap;
}
.membershipBenefit .item {
  position: relative;
  width: 530px;
  height: 210px;
  padding: 45px 0 0 195px;
  box-shadow: 4px 4px 20px rgba(0,0,0,.05);
  border-radius: 10px;
  margin-bottom: 40px;
}
.membershipBenefit .item img {
  display: block;
  position: absolute;
  top: 24px;
  left: 56px;
  width: 110px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.item a{
  text-decoration: none;
  color: #000;
}
.button.purple {
  color: #fff;
  line-height: 36px;
  border: 0;
  background: #503396;
}
a.button {
  text-decoration: none;
}
a:link {
  color: #444;
  text-decoration: none;
}
.button {
  display: inline-block;
  height: 36px;
  margin: 0;
  padding: 0 15px;
  text-align: center;
  line-height: 34px;
  color: #503396;
  font-weight: 400;
  border-radius: 4px;
  font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
  text-decoration: none;
  border: 1px solid #503396;
  vertical-align: middle;
  background-color: #fff;
  cursor: pointer;
}
.location-fixed .tit3+table {
  margin-top: 0;
}
.location-fixed .pointUse .tit3 {
  padding-top: 40px;
}
.location-fixed .tit3 {
  padding-bottom: 20px;
}
.pointUse table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
  margin-top: 10px;
}
table {
  width: 100%;
  margin: 0;
  border: 0;
  table-layout: fixed;
  border-collapse: collapse;
  empty-cells: show;
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: -internal-center;
}
caption {
  display: table-caption;
  text-align: -webkit-center;
}
.location-fixed .pointUse .tit4 {
    padding-top: 20px;
}
.tit4 {
    padding-top: 30px;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #222;
}
dl.dotListv2 dd {
  padding-left: 8px;
}
.fc_01 {
  color: #777;
}
dd, dl, dt {
  margin: 0;
  padding: 0;
}
dl.dotListv2 dt:after {
  position: absolute;
  top: 9px;
  left: 0;
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #444;
  content: "";
}
dl.dotListv2 {
  padding-top: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #444;
}
dd, dl, dt {
  margin: 0;
  padding: 0;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.location-fixed .pointUse .tit4 {
  padding-top: 20px;
}
.tit4 {
  padding-top: 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #222;
}
.modal-layer {
  overflow-y: scroll;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
  background-color: rgba(0,0,0,0);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
dl.dotListv2 {
  padding-top: 10px;
  font-size: 15px;
  line-height: 24px;
  color: #444;
}
dd, dl, dt {
  margin: 0;
  padding: 0;
}

dl {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.quick-area {
  display: none;
  position: relative;
  width: 100%;
}
.quick-area .btn-go-top {
  overflow: hidden;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 25px;
  width: 48px;
  height: 48px;
  margin: 0 0 0 550px;
  text-indent: -9999px;
  border-radius: 48px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-go-top.png) no-repeat 0 0;
  box-shadow: 1px 1px 7px 0 rgba(0,0,0,.5);
}
#footer .footer-top .btn-looking-theater:focus, #footer .footer-top .btn-looking-theater:hover, #footer .footer-top .btn-looking-theater:visited {
  color: #666;
}
#footer .footer-top .btn-looking-theater {
  overflow: hidden;
  float: right;
  display: block;
  width: 106px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 28px;
  color: #666;
  font-size: .8667em;
  border: 1px solid #d8d9db;
  border-radius: 30px;
  text-decoration: none;
}
a:active, a:focus, a:hover {
  color: #666;
  text-decoration: underline;
}
/*********footer***********************************/
#footer {
  position: relative;
  min-width: 1100px;
  width: 100%;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #f8f8fa;
}
#footer .footer-top {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
  padding: 30px 0;
}
#footer .footer-top .fnb {
  float: left;
}
#footer .footer-bottom .footer-info address {
  display: inline-block;
  vertical-align: top;
}
address {
  margin: 0;
  padding: 0;
  font-style: normal;
}
#footer .footer-bottom .footer-info {
  float: left;
  font-size: .8667em;
  letter-spacing: 0;
}
ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
#footer .footer-top .fnb li {
  float: left;
  margin-left: 14px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}
#footer .footer-bottom {
  overflow: hidden;
  width: 1100px;
  margin: 0 auto;
  padding: 0;
}
#footer .footer-bottom .footer-sns {
  float: right;
}
#footer .footer-bottom .footer-sns a {
  display: block;
  float: left;
  width: 32px;
  height: 30px;
  margin-left: 5px;
  font-size: 0;
  line-height: 0;
}
#footer .footer-top .btn-looking-theater i {
  margin-right: 4px;
}
.ico-footer-search {
  width: 15px;
  height: 15px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-footer-search.png);
}
.iconset {
  overflow: hidden;
  display: inline-block;
  margin: -1px 0 0 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
  background-position: 0 0;
  background-repeat: no-repeat;
}
.inner-wrap {
  width: 1100px;
  margin: 0 auto;
}
#footer .footer-bottom .ci {
  overflow: hidden;
  display: block;
  float: left;
  width: 150px;
  height: 50px;
  margin: 0 20px 0 0;
  padding: 0;
  text-indent: -9999px;
  background: url(https://img.megabox.co.kr/static/pc/images/common/ci/logo-opacity_new2.png) no-repeat center;
}
#footer .footer-bottom .footer-info {
  float: left;
  font-size: .8667em;
  letter-spacing: 0;
}

#footer .footer-bottom .footer-info address {
  display: inline-block;
  vertical-align: top;
}
#footer .footer-bottom .footer-sns {
  float: right;
}
#footer .layer-looking-theater {
  display: none;
  position: absolute;
  left: 0;
  bottom: 200px;
  width: 100%;
  background-color: #333;
  z-index: 98;
}
ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.ico-youtubeN {
  width: 30px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-youtubeN.png);
}
.ico-instagramN {
  width: 30px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-instagramN.png);
}
.ico-facebookN {
  width: 30px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-facebookN.png);
}
.ico-twitterN {
  width: 30px;
  height: 30px;
  background-image: url(https://img.megabox.co.kr/static/pc/images/common/ico/ico-twitterN.png);
}