/* 유틸박스 */
.hong-page-util
{
    min-width: 1100px;
    height: 42px;
    background-color: #f8f8fa;
}

.hong-button
{
    background-color: #fff;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.hong-page-util-box
{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hong-ticket-home
{
    width: 13px;
    height: 13px;
}

.hong-page-util-ticketing,.hong-page-util-fastticketing
{
    position: relative;
    margin-left: 25px;
}

.hong-page-util-ticketing::before,.hong-page-util-fastticketing::before
{
    content: "";
    position: absolute;
    width: 5px;
    height: 42px;
    background: url(../images/hong-ticket-images/hong-location-arr.png) no-repeat;
    top: -50%;
    transform: translateY(50%);
    left: -13px;
}

.hong-page-util-ticketing a,.hong-page-util-fastticketing a
{
    color: #666;
    font-size: 14px;
    text-decoration: none;
}

.hong-page-util-ticketing a:hover,.hong-page-util-fastticketing a:hover
{
    text-decoration: underline;
}
/* 유틸박스 */

/* 빠른예매 상단 */
.hong-ticket-h1
{
    font-size: 25px;
    font-weight: 400;
    letter-spacing: -1px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.hong-ticket-box
{
    width: 100%;
}

.hong-ticket-box-head
{
    width: 100%;
    height: 40px;
    display: flex;
    border: 1px solid #d8d9db;
    border-top: 1px solid #555;
}

.hong-ticket-box-date
{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.hong-ticket-box-date-left,.hong-ticket-box-date-right
{
    width: 4%;
    height: 100%;
    position: relative;
}

.hong-ticket-box-date-left img,.hong-ticket-box-date-right img
{
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hong-ticket-box-date-list
{
    width: 92%;
    height: 100%;
    display: flex;
    background: #666;
}

.hong-ticket-box-list-button
{
    width: 100px;
    height: 100%;
    position: relative;
}

.hong-ticket-box-list-button:hover
{
    border-top: 0;
    border-bottom: 2px solid #503396;
}

.hong-ticket-box-list-button span
{
    margin: 4px;
    font-size: 12px;
    font-weight: 400;
}

.hong-ticket-box-list-button span:first-child:after
{
    content: '';
    width: 3px;
    height: 3px;
    background-color: #999;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%,-50%);
}

.hong-ticket-box-calendar
{
    width: 5%;
    height: 100%;
    position: relative;
    border-left: 1px solid #d8d9db;
}

.hong-ticket-box-calendar img
{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* 빠른예매 상단 */

/* 빠른예매 하단 */
.hong-little-container
{
    width: 100%;
    display: flex;
}

.hong-title-movie
{
    width: 25%;
    height: 200px;
    background-color: #555;
}

.hong-title-theater
{
    width: 35%;
    height: 200px;
    background-color: #503396;
}

.hong-title-time
{
    width: 40%;
    height: 200px;
    background-color: #999;
}
/* 빠른예매 하단 */