@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url(layout.css);

*{box-sizing: border-box;}

.cur-container{
    font-family: 'Nanum Gothic', sans-serif;
    display: block;
    position: relative;
    height: 840px;
    padding: 0;
    margin: 0;
    background-color: #252451;
  
}
.cur-main{
    width: 1100px;
    position: relative;
    margin: 0 auto;
    height: 840px;
}
.cur-main h1{
    color: #fff;
    float: left;
    font-weight: 500;
    letter-spacing: -1px;
    padding-right: 100px;
    padding-bottom: 30px;
    
}
.cur-top{
    width: 100%;
    padding: 30px 0 0;
    padding-bottom: 50px;
    font-size: 14px;
}
.cur-top::before{
    content: "";
    display: block;
}
.cur-top:after{
    content: "";
    display: block;
}
.cur-topr{
    float: right;
    padding-top: 37px;
    font-size: 15px;
    color: #aaa;
    font-weight: 400;
}
.cur-topr a{
    text-decoration: none;
    color: #aaa;
}
.cur-topr a:hover{
    text-decoration: underline;
}
/******상단큐레이션*****/
.cur-img{
    position: absolute;
    z-index: 1;
    width: 100%;
    padding-top: 70px;

}
.cur-area{
    bottom: 100px;
}
.cur-imga{
    background: url(/images/bg-bage-curation-classic.png)no-repeat 0 0;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 2;
    display: block;
    width: 123px;
    height: 135px;
    line-height: 0;
}
.cur-imgb{
    margin-top: -20px;
    display: block;
    z-index: 5;

}
.cur-imgb a{
    display: block;
    width: 300px;
    height: 430px;
    border-radius: 15px;
}
.cur-imgb img{
    position: absolute;
    border-radius: 20px;
    display: block;
    bottom: 85px;
    left: 19px;
}
/*****상세정보예매 *****/
.cur-btn{
    width: 300px;
    height: 60px;
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: center;
}
.cur-btnl{
    width: calc(50% - 5px);
    float: left;
    top: 50px;
}
.cur-btnr{
    width: calc(50% - 5px);
    float: right;
}
.cur-btnl a{
    color: #fff;
    border-color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    margin-top: 0px;
    border-radius: 5%;
    line-height: 50px;
    font-weight: 400;

}
.cur-btnr a{
    color: #fff;
    background: #037b94;
    border: 1px solid #037b94;;
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 0;
    font-size: 20px;
    margin-top: 0px;
    border-radius: 5%;
    line-height: 50px;

}

/***text부분 *****/
.cur-info{
    position: absolute;
    left: 360px;
    color: #fff;
    top: 28px;
    margin: 0;
    
}
.cur-text{
    font-size: 20px;
}
.cur-text1{
    font-size: 35px;
    border-bottom: 1px solid #474681;
    margin: 0;
    margin-top: -25px;
    padding-bottom: 30px;
}
.cur-summ1{
    margin-bottom: -23px;
}.cur-summ2{
    margin-bottom: -7px;
}
/* .cur-btnl{
    width: calc(50% - 5px);
    float: left;
} */
.cur-list{
    padding: 350px 0 0 360px;
}
.cur-list ul{
    position: relative;
}
.cur-list ul li:first-child{
    margin-left: 0px;
}
.cur-list ul li{
    float:left;
    width: 170px;
    margin-left: 16px;
}
.cur-listimg{
    position: absolute;
    left: 10px;
    top: -5px;
    display: block;
    width: 35px;
    height: 50px;
    font-size: 0;
    line-height: 0;
}.cur-listimg1{
    position: absolute;
    left: 197px;
    top: -5px;
    display: block;
    width: 35px;
    height: 50px;
    font-size: 0;
    line-height: 0;
}
.cur-listimg2{
    position: absolute;
    left: 380px;
    top: -5px;
    display: block;
    width: 35px;
    height: 50px;
    font-size: 0;
    line-height: 0;
}
.cur-listimg3{
    position: absolute;
    left: 566px;
    top: -5px;
    display: block;
    width: 35px;
    height: 50px;
    font-size: 0;
    line-height: 0;
}


.cur-listimg-a img{
    width: 150x;
    height: 244px;
    border-radius: 10px;
}
p.cur-listimg-a-summ{
    overflow: hidden;
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    color: #fff;
    margin: 0;
    font-weight: 400;
    top: 30px;
}
.cur-listimg1-a{
    display: inline-block;
    left: 50px;
}
.cur-listimg1-a img{
    width: 150x;
    height: 244px;
    border-radius: 10px;
}
