*{box-sizing: border-box;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.container{
    width:1100px;
    margin:0 auto;
}
body{
    margin:0;
    padding:0;
}
/***************main*************************/
.info{
    padding: 0 0 26px 0;
    padding-left: 43px;
    font-size: 1.8666em;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: 1.1;
    color:#351f66;
}
.imgbox{
    display: flex;
    /* padding: 10px; */
}

.link img{
    width: 200px;
    height: 200px;
    padding: 0;
    padding-left: 10px;
    border-radius: 50px;
    filter: grayscale();
}
.link img:hover{
    filter: none;
}
a.link{
    padding-left: 30px;
}
.control button{
    top: 50%;
    left: -45px;
    width: 16px;
    height: 30px;
    margin-top: -15px;
}
.control1{
   float: right;
   padding: 10px;
   
}
.control1 button{
    background-color: #fff;
    border: none;
    padding-top: 75px;

   
}
.control2{
    position: absolute;
    float: left;
 }
 .control2 button{
     background-color: #fff;
     border: none;
     padding-top: 78px;

 }
 .info2{
    margin-top: 50px;
    border-top: 1px solid #dddddd ;
    border-bottom: 1px solid #dddddd ;
 }
 .wrap{
    display: flex;
    position: relative;
    width: 1100px;
    margin: 0 auto;
    padding: 0 175px 0 95px;
    padding-left: 10px;
 }
.wrap p{
    padding: 30px;
    font-size: 16px;
    text-decoration: none;
}

.soccer a{
    text-decoration: none;
    color: black;
}
.lol::after{
    content: '';
    display: block;
    position: absolute;
    left: 37px;
    top: 50%;
    width: 1px;
    height: 14px;
    margin-top: -7px;
    background-color: #e2e2e2;
}
.lol{
    color: #01738b;
}
.more button{
    border: none;
    background-color: #fff;
}
.more a{
    text-decoration: none;
    color: #333;
}
.call{
    display: flex;
    padding: 80px 134px 14px;
    padding-top:50px;
}
.imgbox img{
    width: 150px;
    height:150px;
    padding: 10px;
    padding-left: 10px;
}
.icon1 img{
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding: 0;
    width: 36px;
    height: 56px;
}
.icon1{
    text-align: center;
}
.icon1 a{
    text-decoration: none;
    color: #333;
    text-align: center;
    padding-left: 70px;
    padding-bottom: 10px;
    font-size: 18px;

}
.icon a:hover{
    bottom: 1px solid #333;
}
.banner{
    z-index: 99;
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #d8eaf6;
}
.banner a>img{
    float: right;
    bottom: 10px;
}
.mini img{
    position: absolute;
    z-index: 9;
    opacity: 0.6;
    margin-top: 207px;
    margin-left: 1065px;
}
/***************footer**********************/
.navi_top{
    list-style: none;
    display: block;
}
.navi_top>ul{
    display: flex;
}
.navi_top > ul > li{
    list-style: none;
    padding: 30px;
    text-align: center;
}
.navi_top > ul > li> a{
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    padding:0px;
    color: grey;
}
.iconset {
    overflow: hidden;
    display: inline-block;
    margin: -1px 0 0 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background-position: 0 0;
    background-repeat: no-repeat;
}
a:visited {
    color: #666;
    text-decoration: none;
    outline: 1px dotted #000;
}
.search a{
    position: relative;
    right: 10px;
}
.search >i{
    padding-left: 10px;
    padding-top: 10px;
}
.search{
    overflow: hidden;
    float: right;
    display: block;
    width: 106px;
    height: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #666;
    font-size: .8667em;
    border: 1px solid #d8d9db;
    border-radius: 30px;
    text-decoration: none;
    bottom: 10px;
}
.footerlogo img{
    overflow: hidden;
    display: block;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
    width: 200px;
    height: 100px;
    margin: 0 20px 0 0;
}
#footer .footer-bottom .footerinfo address {
    display: inline-block;
    vertical-align: top;
}
.footerinfo p{
    text-align: left;
}
.footer-sns{
    padding-left: 1034px;
   margin-top: -127px;
}